<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos CRUD</title>
</head>

<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h1>Listado de categorias</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
        </thead>
        <tbody>
            <tr th:each="categoria : ${listaCategorias}">
                <td th:text="${categoria.idCat}">Id</td>
                <td th:text="${categoria.nomCat}">nombre</td>
                <td><a th:href="@{/categoria/edit/{id}(id=${categoria.idCat})}">Editar</a></td>
                <td><a th:href="@{/categoria/delete/{id}(id=${categoria.idCat})}">Borrar</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>