<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Residuos CRUD</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos CSS adicionales */
    .table-responsive {
      margin: 20px 0;
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .btn-circular {
      border-radius: 50%;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25;
    }
    /* Centrar verticalmente el contenido de las celdas */
    .table th, .table td {
      vertical-align: middle !important;
    }

  </style>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <div class="table-responsive" style="margin-top: 50px;"> 
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th style="text-align: center">Id</th>
        <th style="text-align: center">Nome</th>
        <th style="text-align: center">Descripción</th>
        <th style="text-align: center">Código LER</th>
        <th style="text-align: center;white-space: nowrap;"> Categoría
          <i class="fas btn-info" style="display: inline-block;"></i>
          <div th:if="${listaCategorias != null}" style="display: inline-block;">
              <select id="select" onChange="changeCategory();" style="margin-left: 5px;">
                  <option value="0">Todas</option>
                  <option th:each="cat : ${listaCategorias}"
                      th:value="${cat.idCat}"
                      th:text="${cat.nomCat}"
                      th:selected="${cat.nomCat} == ${categoriaSeleccionada} ? true : false"></option>
              </select>
          </div>
      </th>
        <th style="text-align: center">Fecha de registro</th>
        <th style="text-align: center">Masa (Kg)</th>
        <th style="text-align: center">Volumen (m3)</th>
        <th style="text-align: center" >Dirección</th>
        <th style="text-align: center">Productor</th>
        <th style="text-align: center">Estado</th>
        <th style="text-align: center">Solicitante</th>
        <th style="text-align: center">Gestor</th>
        <th style="text-align: center">Fecha Recogida/Bloqueo</th>
      </thead>

    <tbody>
      <tr th:each="r : ${listaResiduos}">
        <td style="text-align: center" th:text="${r.idResiduo}">idResiduo</td>
        <td style="text-align: center" th:text="${r.nomResiduo}">nomProd</td>
        <td style="text-align: center" th:text="${r.descripResiduo}">descripResiduo</td>
        <td style="text-align: center" th:text="${r.codLer}">codLer</td>
        <td style="text-align: center" th:text="${r.categoria.nomCat}">categoria</td>
        <td style="text-align: center" th:text="${#temporals.format(r.fechaRegistroResiduo, 'dd/MM/yyyy - HH:mm')}">fechaRegistroResiduo</td>
        <td style="text-align: center" th:text="${r.masaResiduoKg}">masa</td>
        <td style="text-align: center" th:text="${r.volumenResiduoM3}">volumen</td>
        <td th:text="${r.dirCalleResiduo + ', ' + r.dirNumResiduo + ', ' + r.dirCodPostalResiduo + ', ' + r.dirLocalidadResiduo + ', ' + r.dirProvinciaResiduo}"></td>
        <td style="text-align: center" sec:authorize="isAuthenticated()" th:text="${r.productor.nomUser + ' (' + r.productor.puntuacion + ')'}">productor</td>
        <td style="text-align: center" sec:authorize="isAuthenticated()">
          <span th:if="${r.recogido} and !${r.bloqueado}" class="badge badge-secondary" style="text-align: center" th:text="'Recogido'">Recogido</span>
          <span th:if="${r.bloqueado}" class="badge badge-danger" style="text-align: center" th:text="'Bloqueado'">Bloqueado</span>
          <span th:if="!${r.bloqueado} and ${r.solicitado} and !${r.reservado}" class="badge badge-info" style="text-align: center" th:text="'Solicitado'">Solicitado</span>
          <span th:if="!${r.bloqueado} and ${r.solicitado} and ${r.reservado} and !${r.recogido} and ${r.ruta == null}" style="text-align: center" class="badge badge-success" th:text="'Reservado / Sin Asignar'">ReservadoSinRuta</span>
          <span th:if="!${r.bloqueado} and ${r.solicitado} and ${r.reservado} and !${r.recogido} and ${r.ruta != null}" style="text-align: center" class="badge badge-success" th:text="'Reservado / Con Ruta Asignada'">ReservadoConRuta</span>
          <span th:unless="${r.bloqueado} or ${r.solicitado} or ${r.reservado} or ${r.recogido}" style="text-align: center" class="badge badge-warning" th:text="'Disponible'">Disponible</span>
        </td>
          <td style="text-align: center">
              <!-- Iterar sobre la lista de usuarios para encontrar el usuario con el nombre correspondiente -->
              <span th:each="u : ${listaUsuarios}" th:if="${u.nomUser == r.nombreSolicitante}">
                  <!-- Mostrar el nombre del solicitante y su puntuación -->
                  <span th:text="${u.nomUser} + ' (' + ${u.puntuacion} + ')'">solicitante</span>
              </span>
          </td>

        <td style="text-align: center" th:text="${r.nombreGestor}">gestor</td>
        <td style="text-align: center" th:text="${#temporals.format(r.fechaRecogidaResiduo, 'dd/MM/yyyy - HH:mm')}">fecharrecogida</td>
      
      </tr>
    </tbody>
  </table>
</div>
<script>
  function changeCategory() {
    window.location.href =
      "/residuo/categoria/" + document.getElementById("select").value;
  }
</script>
</body>


<footer th:insert="/fragmentos.html::footer">
</footer>  

</html>