<!DOCTYPE html>
<html lang="en">
  <head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* Estilo personalizado para el formulario */
      .form-group {
          margin-bottom: 20px;
      }

      label {
          font-weight: bold;
      }

      input[type="text"],
      input[type="submit"] {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
      }

      input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          cursor: pointer;
      }

      input[type="submit"]:hover {
          background-color: #0056b3;
      }
  </style>
  </head>

  <body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h1>Nuevo residuo</h1>
    <form method="post" action="#" th:action="@{/residuo/new/submit}" th:object="${residuoForm}">
      <label><input type="hidden" id="idResiduo" th:field="*{idResiduo}" /> </label><br />
      <label>Nombre*: <input type="text" id="nomResiduo" th:field="*{nomResiduo}" th:required="required"/></label><br/>
      <label>Descripción: <input type="text" id="descripResiduo" th:field="*{descripResiduo}"/></label><br/>
      <label>Código LER: <input type="text" id="codLer" th:field="*{codLer}"/></label><br/>
      <label>Categoria: 
        <select name="categoria" th:field="*{categoria}">
          <option th:each="cat : ${listaCategorias}" th:value="${cat.idCat}" th:text="${cat.nomCat}"></option>
        </select>
      </label><br/>
      <label><input type="hidden" id="fechaRegistroResiduo" th:field="*{fechaRegistroResiduo}"/></label><br/>
      <label>Masa (Kg)*: <input type="text" id="masaResiduoKg" th:field="*{masaResiduoKg}" th:required="required"/></label><br/>
      <label>Volumen (m3)*: <input type="text" id="volumenResiduoM3" th:field="*{volumenResiduoM3}" th:required="required"/></label><br/>
      <label>Calle*: <input type="text" id="dirCalleResiduo" th:field="*{dirCalleResiduo}" th:required="required"/></label><br/>
      <label>Número*: <input type="text" id="dirNumResiduo" th:field="*{dirNumResiduo}" th:required="required"/></label><br/>
      <label>Código Postal*: <input type="text" id="dirCodPostalResiduo" th:field="*{dirCodPostalResiduo}" th:required="required"/></label><br/>
      <label>Localidad*: <input type="text" id="dirLocalidadResiduo" th:field="*{dirLocalidadResiduo}" th:required="required"/></label><br/>
      <label>Provincia*: <input type="text" id="dirProvinciaResiduo" th:field="*{dirProvinciaResiduo}" th:required="required"/></label><br/>
      <label><input type="hidden" id="solicitado" th:field="*{solicitado}"></label><br/>
      <label><input type="hidden" id="solicitante" th:field="*{nombreSolicitante}"></label><br/>
      <label><input type="hidden" id="reservado" th:field="*{reservado}"></label><br/>
      <!-- <label><input type="hidden" id="gestor" th:field="*{gestor}"></label><br/> -->
      <label>Gestor: 
        <select name="gestor" th:field="*{nombreGestor}">
          <option value="">Sin gestor asignado</option>
          <option th:each="ges : ${listaGestores}" th:value="${ges.nomUser}" th:text="${ges.nomUser}"></option>
        </select>
      </label><br/>
      <label><input type="hidden" id="recogido" th:field="*{recogido}"></label><br/>
      <label><input type="hidden" id="bloqueado" th:field="*{bloqueado}"></label><br/>
      
      <label><input type="hidden" id="productor" th:field="*{productor}"></label><br/>
      <!-- <label><input type="hidden" id="ruta" th:field="*{ruta}"></label><br/> -->


      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
