<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Residuos CRUD</title>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
  <h1>Listado de residuos</h1>

  <select id="select" onChange="changeCategory();">
    <option value="0">Todas</option>
    <option
      th:each="cat : ${listaCategorias}"
      th:value="${cat.idCat}"
      th:text="${cat.nomCat}"
      th:selected="${cat.nomCat} == ${categoriaSeleccionada} ? true : false"
    ></option>
  </select>
  <!-- <span th:text="${categoriaSeleccionada}">Cristales</span> -->

  <script>
    function changeCategory() {
      window.location.href =
        "/residuo/categoria/" + document.getElementById("select").value;
    }
  </script>


  <table>
    <thead>
      <tr>
        <th sec:authorize="hasRole('ADMIN')">Id</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Código LER</th>
        <th>Categoria </th>
        <th>Fecha de registro</th>
        <th>Masa (Kg)</th>
        <th>Volumen (m3)</th>
        <th sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')">Calle</th>
        <th sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')">Número</th>
        <th sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')">Código Postal</th>
        <th sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')">Localidad</th>
        <th>Provincia</th>
        <th sec:authorize="isAuthenticated()">Productor</th>
        <th sec:authorize="isAuthenticated()">Estado</th>
        <th sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" >Solicitante</th>
        <th sec:authorize="hasRole('ADMIN')">Gestor</th>

        
      </tr>
    </thead>

    <tbody>
      <tr th:each="r : ${listaResiduos}">
        <td sec:authorize="hasRole('ADMIN')" th:text="${r.idResiduo}">idResiduo</td>
        <td th:text="${r.nomResiduo}">nomProd</td>
        <td th:text="${r.descripResiduo}">descripResiduo</td>
        <td th:text="${r.codLer}">codLer</td>
        <td th:text="${r.categoria.nomCat}">categoria</td>
        <td th:text="${r.fechaRegistroResiduo}">fechaRegistroResiduo</td>
        <td th:text="${r.masaResiduoKg}">masa</td>
        <td th:text="${r.volumenResiduoM3}">volumen</td>
        <td sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" th:text="${r.dirCalleResiduo}">dirCalleResiduo</td>
        <td sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" th:text="${r.dirNumResiduo}">dirNumResiduo</td>
        <td sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" th:text="${r.dirCodPostalResiduo}">dirCodPostalResiduo</td>
        <td sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" th:text="${r.dirLocalidadResiduo}">dirLocalidadResiduo</td>
        <td th:text="${r.dirProvinciaResiduo}">dirProvinciaResiduo</td>
        <td sec:authorize="isAuthenticated()" th:text="${r.productor.nomUser}">productor</td>
        <td sec:authorize="isAuthenticated()">
          <span th:if="${r.recogido}" th:text="'Recogido'">Recogido</span>
          <span th:if="${r.bloqueado}" th:text="'Bloqueado'">Bloqueado</span>
          <span th:if="!${r.bloqueado} and ${r.solicitado} and !${r.reservado}" th:text="'Solicitado'">Solicitado</span>
          <span th:if="!${r.bloqueado} and ${r.solicitado} and ${r.reservado}" th:text="'Reservado'">Reservado</span>
          <span th:unless="${r.bloqueado} or ${r.solicitado} or ${r.reservado} or ${r.recogido}" th:text="'Disponible'">Disponible</span>
        </td>
        <td sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')"th:text="${r.nombreSolicitante}">solicitante</td>
        <td sec:authorize="hasRole('ADMIN')" th:text="${r.nombreGestor}">gestor</td>
        
        
        <td sec:authorize="isAuthenticated()">
          <a th:if="${user} == ${r.productor} and (!${r.bloqueado} and (!${r.solicitado} or (${r.solicitado} and !${r.reservado})) )"
             th:href="@{/residuo/edit/{id}(id=${r.idResiduo})}">Editar</a>
        </td>
        <td sec:authorize="isAuthenticated()">
          <a th:if="${user} == ${r.productor} and (!${r.bloqueado} and (!${r.solicitado} or (${r.solicitado} and !${r.reservado})) )"
             th:href="@{/residuo/delete/{id}(id=${r.idResiduo})}">Borrar</a>
        </td>
      
        
        <!-- (solo si Negociante puede solicitar reserva) -->
        <td sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')"><a th:href="@{/residuo/solicitarReserva/{id}(id=${r.idResiduo})}">Solicitar Reserva</a></td>
        
        <td sec:authorize="isAuthenticated()">
          <a th:if="${user} == ${r.productor} and ${r.solicitado} and !${r.reservado}" th:href="@{/residuo/aprobarReserva/{id}(id=${r.idResiduo})}">Aprobar Solicitude</a>
      </td>
      <td sec:authorize="isAuthenticated()">
          <a th:if="${user} == ${r.productor} and ${r.solicitado} and !${r.reservado}" th:href="@{/residuo/rechazarReserva/{id}(id=${r.idResiduo})}">Rexeitar Solicitude</a>
      </td>
      
      
      </tr>
    </tbody>
  </table>
</body>

<footer th:insert="/fragmentos.html::footer">
</footer>  

</html>