<!DOCTYPE html>
<html lang="en">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Panel de pedido</title>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
  <h1>Detalle pedido</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Unidades totales</th>
        <th>Precio total</th>
        <th>Descripción</th>
        <th>Fecha realización</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th th:text="${pedido.idPed}">idPed</th>
        <th th:text="${pedido.udTotalPed}">udTotalPed</th>
        <th th:text="${pedido.precioTotalPed}">precioTotalPed</th>
        <th th:text="${pedido.descripPed}">descripPed</th>
        <th th:text="${pedido.fechaPedRealizado}">fechaPedRealizado</th>
      </tr>
    </tbody>
  </table>


  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Código LER</th>
        <th>Cantidad</th>
        <th>Unidades de medida</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="producto : ${listaProductos}">
        <td th:text="${producto.nomProd}">nomProd</td>
        <td th:text="${producto.codLer}">codLer</td>
        <td th:text="${producto.cantProd}">cantProd</td>
        <td th:text="${producto.udMedida}">udMedida</td>
        <td th:text="${producto.precioProd}">precioProd</td>
      </tr>
    </tbody>
  </table>
  </form>
</body>

<a th:href="@{/pedido/userLogin}">Volver a lista de pedidos</a>


</html>