<!DOCTYPE html>
<html lang="en">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
</head>

<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h1>Listado de todos los Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Unidades totales del pedido</th>
                <th>Precio total del pedido</th>
                <th>Descripción del pedido</th>
                <th>Pedido realizado</th>
                <th>Fecha de realización del pedido</th>
                <th>Nombre comprador</th>
                <th>Detalle pedidos</th>
                <th>Borrar</th>
                
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${listaPedidos}">
                <td th:text="${pedido.idPed}">Id Pedido</td>
                <td th:text="${pedido.udTotalPed}">udTotalPed</td>
                <td th:text="${pedido.precioTotalPed}">precioTotalPed</td>
                <td th:text="${pedido.descripPed}">descripPed</td>
                <td th:text="${pedido.pedRealizado}">pedRealizado</td>
                <td th:text="${pedido.fechaPedRealizado}">fechaPedRealizado</td>
                <td th:text="${pedido.comprador.nomUser}">nombrecomprador</td>
                <td><a th:href="@{/pedido/detalle/{id}(id=${pedido.idPed})}">Detalle pedido</a></td>
                <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/pedido/delete/{id}(id=${pedido.idPed})}">Borrar pedido</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>