<!DOCTYPE html>
<html lang="en">
<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h3>Blablabalbalba</h3>
    
    
    <img src="/images/quienes-somos.gif" width="500px"> 
    <div>Condiciones de uso.

        Política de privacidad.
    
        Política de cookies.
        </div>
</body>

<footer th:insert="/fragmentos.html::footer">
</footer>  
</html>