<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
</head>

<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <section class="vh-100" style="background-image: url('/images/fondo.png'); background-size: cover;">


        <div class="container h-100"  style="margin-top: -20px;">
            <div class="row d-flex justify-content-center align-items-center h-100">
                
                
                <div class="col col-xl-10">
                 
                    <div class="card" style="border-radius: 1rem;">
                        <p></p>
                        <span class="h1 fw-bold mb-0" style="color: #5aa45a; text-align: center;"><p>Coméntanos o que buscas, podemos axudarte!</p></span>
                        <div class="row g-0">
                            

                            <div class="col-md-6 col-lg-5 d-flex align-items-center">
                                <img src="/images/contactar.gif" alt="login form" class="img-fluid"
                                    style="border-radius: 1rem 0 0 1rem;" />
                            </div>

                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                
                                <div class="card-body p-2 p-lg-3 text-black">
                                    <form  action="#" th:action="@{/public/contacto/submit}" th:object="${formInfo}" method="post">
                                       
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="nombre">Nome</label>
                                            <input type="text" class="form-control form-control-lg" id="nombre"
                                                th:field="*{nombre}" />
                                            
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="email">Correo electrónico</label>
                                            <input type="text" class="form-control form-control-lg" id="email"
                                                th:field="*{email}" />
                                            
                                        </div>


                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="motivo">Motivo</label>
                                            <select id="motivo" name="motivo" class="form-control form-control-lg" th:field="*{motivo}">
                                                <option value="0">Selecciona unha opción</option>
                                                <option value="1">Solicitude de alta como Produtor</option>
                                                <option value="2">Solicitude de alta como Xestor</option>
                                                <option value="3">Solicitude de acceso á API</option>
                                                <option value="4">Outros</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="comentarios">Comentarios</label>
                                            <textarea id="comentarios" name="comentarios" class="form-control form-control-lg" th:field="*{comentarios}" rows="4"></textarea>
                                        </div>
                                        
                                        
                                        <span>Acepto as condiciones do servizo: <input type="checkbox" id="acepto"
                                                th:field="*{aceptarCondiciones}"></span><br /><br />


                                        <div class="pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Enviar</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<footer th:insert="/fragmentos.html::footer" >
</footer>

</html>