<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:fragment="cabecera">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav th:fragment="menu" class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Logo de la marca -->
            <a class="navbar-brand" href="/public/index">
                <img src="/images/logo.png" width="50" height="50">
            </a>

            <!-- Botón para colapsar la navegación en dispositivos móviles -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenedor de navegación -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Enlaces de navegación públicos -->
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/public/index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/residuo/list">Residuos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/quienessomos">Quenes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/public/contacto">Contacta</a>
                    </li>
                </ul>

                <!-- Enlaces de navegación usuario -->
                <ul class="navbar-nav align-items-center">
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/public/signin}">
                            <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                        </a>
                    </li>

                    <!-- Menú desplegable de residuos -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="residuosDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Os meus residuos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="residuosDropdown">
                            <a class="dropdown-item" th:href="@{/residuo/new}">Rexistrar un residuo</a>
                            <a class="dropdown-item" th:href="@{/residuo/listByUser}">Ver os meus residuos</a>
                            <a class="dropdown-item" th:href="@{/residuo/listByUserSolicitados}">Xestionar solicitudes de reserva</a>
                        </div>
                
                    </li>

                    <!-- Menú desplegable de reservas -->
                    <li sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="reservasDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            As miñas reservas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="reservasDropdown">
                            <a class="dropdown-item" th:href="@{/residuo/list}">Solicitar unha reserva</a>
                            <a class="dropdown-item" th:href="@{/residuo/listByUserAndSolicitadosAndReservados}">Ver as miñas reservas</a>
                        </div>
                    </li>

                    <!-- Menú desplegable de ruta -->
                    <li sec:authorize="hasAnyRole('NEGOCIANTE', 'ADMIN')" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="rutasDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rutas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="rutasDropdown">
                            <a class="dropdown-item" th:href="@{/residuos/listByUserAndReservadosSinRuta}">Crear unha ruta</a>
                            <a class="dropdown-item" th:href="@{/ruta/?}">Ver as miñas rutas</a>
                            <a class="dropdown-item" th:href="@{/ruta/?}">Comezar unha ruta</a>
                        </div>
                
                    </li>

                    <!-- Menú desplegable de incidencias -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="incidenciasDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Incidencias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="incidenciasDropdown">
                            <a class="dropdown-item" th:href="@{/incidencia/new}">Abrir unha nova incidencia</a>
                            <a class="dropdown-item" th:href="@{/incidencia/listByUser}">Ver as miñas incidencias</a>
                        </div>
                    </li>

                    <!-- Menú desplegable de usuario -->
                    <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                        <a sec:authentication="name" class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            "name"
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/user/?}">Ver o meu Perfil</a>
                            <a class="dropdown-item" th:href="@{/user/editUserLogin}">Editar o meu Perfil</a>
                        </div>
                    </li>

                    <!-- Cierre de sesión -->
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/public/signout}">
                            <i class="bi bi-box-arrow-left"></i> Cerrar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav sec:authorize="hasRole('ADMIN')" th:fragment="menuAdmin"
        class="navbar navbar-expand-md navbar-dark navbar-gray bg-dark">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#adminNavbar"
            aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-gear"></i>
        </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="adminNavbar">
                <ul class="navbar-nav mx-auto">
                    <!-- Dropdown de residuos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="productsDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="productsDropdown">
                            <a class="dropdown-item" th:href="@{/residuo/listComplete}">Histórico de Residuos</a>
     
                        </div>
                    </li>
                    <!-- Dropdown de categorías -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                            <a class="dropdown-item" th:href="@{/categoria/list}">Listar Categorias</a>
                            <a class="dropdown-item" th:href="@{/categoria/new}">Nueva Categoria</a>
                        </div>
                    </li>
                    <!-- Dropdown de pedidos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pedidos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ordersDropdown">
                            <a class="dropdown-item" th:href="@{/pedido/list}">Histórico de Pedidos</a>
                        </div>
                    </li>
                    <!-- Dropdown de usuarios -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usuarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="usersDropdown">
                            <a class="dropdown-item" th:href="@{/user/list}">Histórico de Usuarios</a>
                            <a class="dropdown-item" th:href="@{/user/new}">Nuevo Usuario</a>
                        </div>
                    </li>
                    <!-- Dropdown de valoraciones -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Valoraciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ordersDropdown">
                            <a class="dropdown-item" th:href="@{/valoraciones/list}">Histórico de Valoraciones</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>

<footer th:fragment="footer">
    
</footer>


</html>