<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autentificación</title>
</head>

<body>
  <section class="vh-100" style="background-color:  #5aa45a;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div>
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-flex align-items-center justify-content-end">
                <a href="/public/index">
                    <img src="/images/icono_fondo2.png" alt="login form" class="img-fluid" style="margin-left: 5%; margin-right: 5%; border-radius: 1rem; width: 100%;" />
                </a>
            </div>
            

              <div class="col-md-6 col-lg-6 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form th:action="@{/login}" method="post">
                    <div class="d-flex align-items-center mb-3">
                      <a style="color: #5aa45a">
                        <span class="h1 fw-bold mb-0">Iniciar Sesión</span>
                      </a>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example17">Nome de usuario</label>
                      <input type="text" id="form2Example17" class="form-control form-control-lg" name="username" /> 
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="form2Example27">Contrasinal</label>
                      <input type="password" id="form2Example27" class="form-control form-control-lg" name="password" />
                      
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Acceder</button>
                    </div>
                    <div class="error" th:if="${param.error}">Credenciais incorrectas</div>
                    <div th:if="${param.logout}">Desconectácheste</div>

                    <!-- <a class="small text-muted" href="#!">¿Has olvidado tu contraseña?</a> -->
                    <p class="mb-5 pb-lg-2" style="color: #556777;text-align: center;">¿Non tes unha conta? <a href="/public/contacto"
                        style="color: #FF783A ; ">Rexístrate aqui</a></p>
                    <p style="text-align: center;">
                    <a href="/public/index#condicionsUso" text-align: center; class="small text-muted">Condicións de uso.</a>
                    <a href="/public/index#politicaPrivacidade" text-align: center; class="small text-muted">Política de privacidade.</a>
                    <a href="/public/index#politicaCookies" text-align: center; class="small text-muted">Política de cookies.</a>
                  </p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>