<!DOCTYPE html>
<html lang="es">

<head th:insert="/fragmentos.html::cabecera">
    <title>Confirmación de desconexión</title>
</head>

<body>
    <section class="vh-100" style="background-color:  #5aa45a;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">

                            <div class="col-md-6 col-lg-5 d-flex align-items-center mb-5">
                                <img src="/images/signout.gif" alt="login form" class="img-fluid"
                                    style="border-radius: 1rem 0 0 1rem;" />
                            </div>

                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <div class="d-flex align-items-center mb-3">
                                        <a href="/public/index" style="color: #5aa45a">
                                            <span class="h1 fw-bold">MER - Cerrar Sesión</span>
                                        </a>
                                    </div>
                                    <span class="d-flex align-items-center mb-3" style="color: #556777;">Estas saliendo de la aplicación <br> ¿Estas seguro de que quieres hacerlo? </span>
                                    <form th:action="@{/logout}" method="post">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">¡Hasta pronto!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>


</html>