<!DOCTYPE html>
<html lang="gl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="/fragmentos.html::cabecera">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Usuario CRUD</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    /* Estilos CSS adicionales */
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .btn-circular {
      border-radius: 50%;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25;
    }
    /* Centrar verticalmente el contenido de las celdas */
    table th, table td {
      vertical-align: middle !important;
    }
  </style>
</head>
<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <h1>Listado de usuarios</h1>
  <div class="table-responsive" style="margin-top: 20px;">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Puntuación</th>
          <th>Contrasinal</th>
          <th>DNI/NIF</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Activo</th>
          <th>Data de rexistro</th>
          <th>Editar usuario</th>
          <th>Borrar usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="usuario : ${listaUsuarios}">
          <td th:text="${usuario.idUser}">idUser</td>
          <td th:text="${usuario.nomUser}">nomUser</td>
          <td th:text="${usuario.puntuacion}">puntuacion</td>
          <td th:text="${usuario.passUser}">passUser</td>
          <td th:text="${usuario.dniNif}">dniNif</td>
          <td th:text="${usuario.emailUser}">emailUser</td>
          <td th:text="${usuario.tlfUser}">tlfUser</td>
          <td th:text="${usuario.dirUser}">dirUser</td>
          <td th:text="${usuario.userActivo}">userActivo</td>
          <td th:text="${usuario.fechaRegistro}">fechaRegistro</td>
          <td>
            <a th:href="@{/user/editOther/{id}(id=${usuario.idUser})}" style="text-align: center;" class="btn btn-primary btn-circular">Editar</a>
          </td>
          <td>
            <a th:href="@{/user/delete/{id}(id=${usuario.idUser})}" style="text-align: center;" class="btn btn-danger btn-circular">Borrar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <a class="btn btn-primary mb-3" th:href="@{/user/new}">Rexistrar un novo usuario</a>
  </div>
</body>
<footer th:insert="/fragmentos.html::footer"></footer>
</html>
