<!DOCTYPE html>
<html lang="en">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valoraciones</title>
</head>

<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h1>Listado de TODAS las Incidencias de usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID incidencia</th>
                <th>Usuario emisor</th>
                <th>Usuario receptor</th>
                <th>Puntuación</th>
                <th>Hilo de comentarios</th>
                <th>Fecha</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="valoracion : ${listaValoraciones}">
                <td th:text="${valoracion.idVal}">Id valoración</td>
                <td th:text="${valoracion.usuarioQueValora}">Usuario que valora</td>
                <td th:text="${valoracion.usuarioAValorar}">Usuario a valorar</td>
                <td th:text="${valoracion.puntuacionVal}">Puntuación</td>
                <td th:text="${valoracion.comentarioVal}">Comentario</td>
                <td th:text="${valoracion.fechaVal}">Fecha</td>
                <td><a th:href="@{/valoraciones/delete/{id}(id=${valoracion.idVal})}">Borrar</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/valoraciones/new}">Nueva valoración</a><br />
</body>

</html>