<!DOCTYPE html>
<html lang="en">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incidencias</title>
</head>

<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    
    <h1>Nueva incidencia</h1>
    <form method="post" action="#" th:action="@{/incidencia/new/submit}" th:object="${incidenciaForm}">
        <!-- <label><input type="text" hidden id="idIncidencia" th:field="*{idIncidencia}" /> </label><br />
        <label><input type="text" hidden id="fechaCreacionIncidencia" th:field="*{fechaCreacionIncidencia}" /> </label><br />
        <label><input type="text" hidden id="hiloIncidencia" th:field="*{hiloIncidencia}" /> </label><br />
        <label><input type="text" hidden id="incidenciaCerrada" th:field="*{incidenciaCerrada}" /> </label><br /> -->
        <label></label><input type="text" hidden id="usuarioEmisor" th:field="*{usuarioEmisor}" /></label><br />
        Usuario a valorar:<br />
        <select name="list1" th:field="*{usuarioReceptor}">
            <option value="0">Busca un usuario</option> <!--opcion por defecto-->
            <option th:each="user:${listaUsuarios}" th:value="${user.idUser}" th:text="${user.nomUser}">
            </option>
        </select><br />
        <label><input type="text" hidden id="valoracionIncidencia" th:field="*{valoracionIncidencia}" /></label><br />
        <label>Comentario:<input type="text" id="comentarioIncidencia" th:field="*{comentarioIncidencia}" /></label><br />
        <input type="submit" value="Enviar" />
    </form>
</body>

</html>