<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Productos CRUD</title>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
  <img src="/images/productos.png" width="500px" />
  <h1>Listado de productos</h1>

  <select id="select" onChange="changeCategory();">
    <option value="0">Todas</option>
    <option th:each="cat : ${listaCategorias}" th:value="${cat.idCat}" th:text="${cat.nomCat}"
      th:selected="${cat.nomCat} == ${categoriaSeleccionada} ? true : false"></option>
  </select>
  <!-- <span th:text="${categoriaSeleccionada}">Cristales</span> -->

  <script>
    function changeCategory() {
      window.location.href =
        "/producto/categoria/" + document.getElementById("select").value;
    }
  </script>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Código LER</th>
        <th>Cantidad</th>
        <th>Unidades de medida</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Dirección</th>
        <th>Fecha</th>
        <th>Vendido</th>
        <th>Recurrente</th>
        <th>Frecuencia</th>
        <th>Categoría</th>
        <th>Vendedor</th>
        <th>Pedido</th>
        <th>Editar producto</th>
        <th>Borrar producto</th>

      </tr>
    </thead>

    <tbody>
      <tr th:each="producto : ${listaProductos}">
        <td th:text="${producto.idProd}">idProd</td>
        <td th:text="${producto.nomProd}">nomProd</td>
        <td th:text="${producto.codLer}">codLer</td>
        <td th:text="${producto.cantProd}">cantProd</td>
        <td th:text="${producto.udMedida}">udMedida</td>
        <td th:text="${producto.precioProd}">precioProd</td>
        <td th:text="${producto.descripProd}">descripProd</td>
        <td th:text="${producto.dirProd}">dirProd</td>
        <td th:text="${producto.fechaProd}">fechaProd</td>
        <td th:text="${producto.Vendido}">vendido</td>
        <td th:text="${producto.prodRecurrente}">prodRecurrente</td>
        <td th:text="${producto.frecProd}">frecProd</td>
        <td th:text="${producto.categoria.nomCat}">categoria</td>
        <td th:text="${producto.vendedor}">vendedor</td>
        <td th:text="${producto.pedido}">pedido</td>
        <td>
          <a th:href="@{/producto/edit/{id}(id=${producto.idProd})}">Editar</a>
        </td>
        <td>
          <a th:href="@{/producto/delete/{id}(id=${producto.idProd})}">Borrar</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>