<!DOCTYPE html>
<html lang="en">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .cssError {
      background-color: red;
    }
  </style>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
  <h1>Editar producto</h1>
  <form method="post" action="#" th:action="@{/producto/edit/submit}" th:object="${productoForm}">
    <label><input type="hidden" id="idProd" th:field="*{idProd}" /> </label><br />
    <label>Nombre: <input type="text" id="nomProd" th:field="*{nomProd}" /></label><br />
    <label>Código LER: <input type="text" id="codLer" th:field="*{codLer}" /></label><br />
    <label>Cantidad: <input type="text" id="cantProd" th:field="*{cantProd}" /></label><br />
    <label>Unidades: <input type="text" id="udMedida" th:field="*{udMedida}" /></label><br />
    <label>Precio: <input type="text" id="precioProd" th:field="*{precioProd}" /></label><br />
    <label>Descripción: <input type="text" id="descripProd" th:field="*{descripProd}" /></label><br />
    <label>Dirección: <input type="text" id="dirProd" th:field="*{dirProd}" /></label><br />
    <label>Fecha:<input type="text" readonly id="fechaProd" th:field="*{fechaProd}" /></label><br />
    <label>Reservado; <input type="text" readonly id="reservado" th:field="*{reservado}"></label><br />
    <label>Vendido; <input type="text" readonly id="vendido" th:field="*{vendido}"></label><br />
    <label>Id Vendedor; <input type="text" readonly id="vendedor" th:field="*{vendedor}"></label><br />
    <span>Producto recurrente:<input type="checkbox" id="prodRecurrente" th:field="*{prodRecurrente}"></span><br />
    Frecuencia:<br />
    <div th:each="fre : ${T(com.example.demo.domain.Frecuencia).values()}">
      <input type="radio" name="button1" th:value="${fre}" th:text="${fre}" th:field="*{frecProd}" />
    </div>
    <label>Categoria
      <select name="categoria" th:field="*{categoria}">
        <option th:each="cat : ${listaCategorias}" th:value="${cat.idCat}" th:text="${cat.nomCat}"></option>
      </select>
    </label><br />
    <input type="submit" value="Enviar" />
  </form>

</body>

</html>