<!DOCTYPE html>
<html lang="en">
  <head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .cssError {
        background-color: red;
      }
    </style>
  </head>

  <body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h1>Nuevo producto</h1>
    <form method="post" action="#" th:action="@{/producto/new/submit}" th:object="${productoForm}">
      <label><input type="hidden" id="idProd" th:field="*{idProd}" /> </label><br />
      <label>Nombre: <input type="text" id="nomProd" th:field="*{nomProd}" th:required="required"/></label><br/>
      <label>Código LER: <input type="text" id="codLer" th:field="*{codLer}" th:required="required"/></label><br/>
      <label>Cantidad: <input type="text" id="cantProd" th:field="*{cantProd}" th:required="required"/></label><br/>
      <label>Unidades de medida: <input type="text" id="udMedida" th:field="*{udMedida}" th:required="required"/></label><br/>
      <label>Precio: <input type="text" id="precioProd" th:field="*{precioProd}" th:required="required"/></label><br/>
      <label>Descripción: <input type="text" id="descripProd" th:field="*{descripProd}" th:required="required"/></label><br/>
      <label>Dirección: <input type="text" id="dirProd" th:field="*{dirProd}" th:required="required"/></label><br/>
      <label><input type="hidden" id="fechaProd" th:field="*{fechaProd}"/></label><br/>
      <label><input type="hidden" id="vendido" th:field="*{vendido}"></label><br/>
      <label><input type="hidden" id="vendedor" th:field="*{vendedor}"></label><br/>
      <span>Producto recurrente:<input type="checkbox" id="prodRecurrente" th:field="*{prodRecurrente}"></span><br/>
      Frecuencia:<br />
      <div th:each="fre : ${T(com.example.demo.domain.Frecuencia).values()}">
        <input type="radio" name="button1" th:value="${fre}" th:text="${fre}" th:field="*{frecProd}"/>
      </div>
      <label>Categoria
        <select name="categoria" th:field="*{categoria}">
          <option th:each="cat : ${listaCategorias}" th:value="${cat.idCat}" th:text="${cat.nomCat}"></option>
        </select>
      </label><br/>
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
