<!DOCTYPE html>
<html lang="en">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>

<body>
    <nav th:replace="/fragmentos.html::menu"></nav>
    <nav th:replace="/fragmentos.html::menuAdmin"></nav>
    <h1>Pedido pendiente</h1>
    <form method="post" action="#" th:action="@{/pedido/pedidoPdte/submit}" th:object="${pedido}">
        <label>Id:<input type="text" readonly id="idPed" th:field="*{idPed}"></label><br/>
        <label>Unidades totales del pedido:<input type="text" readonly id="udTotalPed" th:field="*{udTotalPed}" /></label><br />
        <label>Precio total del pedido:<input type="text" readonly id="precioTotalPed" th:field="*{precioTotalPed}" /></label><br />
        <label>Descripción del pedido:<input type="text" id="descripPed" th:field="*{descripPed}" /></label><br />
        <label><input type="hidden" id="pedRealizado" th:field="*{pedRealizado}" /></label><br />
        <label><input type="hidden" id="fechaPedRealizado" th:field="*{fechaPedRealizado}" /></label><br />
        <label><input type="hidden" id="comprador" th:field="*{comprador}"/></label><br>
        <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Código LER</th>
                <th>Cantidad</th>
                <th>Unidades de medida</th>
                <th>Precio</th>
                <th>Quitar del carrito</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="producto : ${listaProductos}">
                <td th:text="${producto.nomProd}">nomProd</td>
                <td th:text="${producto.codLer}">codLer</td>
                <td th:text="${producto.cantProd}">cantProd</td>
                <td th:text="${producto.udMedida}">udMedida</td>
                <td th:text="${producto.precioProd}">precioProd</td>
                <td><a th:href="@{/producto/devolver/{id}(id=${producto.idProd})}">Quitar del carrito</a></td>
              </tr>
            </tbody>
        </table>
        <input type="submit" value="Finalizar pedido" />
    </form>
</body>
<footer th:insert="/fragmentos.html::footer">
</footer>  

</html>