<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
  <section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            
            
            <div class="col col-xl-10">
                <div class="d-flex align-items-center justify-content-center mb-3" style="height:  100%;">
                    <span class="h1 fw-bold mb-0" style="color: #5aa45a; text-align: center;">Detalle de la ruta</span>
                </div>
                
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">

                        <div class="col-md-6 col-lg-5 d-flex align-items-center">
                            <img src="/images/contactar.gif" alt="login form" class="img-fluid"
                                style="border-radius: 1rem 0 0 1rem;" />mapa ruta?
                        </div>

                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form  action="#" th:action="@{/public/contacto/submit}" th:object="${formInfo}" method="post">
                                   
                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" id="nombre"
                                            th:field="*{nombre}" />
                                        <label class="form-label" for="nombre">Nombre</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input type="text" class="form-control form-control-lg" id="email"
                                            th:field="*{email}" />
                                        <label class="form-label" for="email">Email</label>
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="motivo">Motivo</label>
                                        <select id="motivo" name="motivo" class="form-control form-control-lg" th:field="*{motivo}">
                                            <option value="0">Selecciona una opción</option>
                                            <option value="1">Solicitud de alta como Productor</option>
                                            <option value="2">Solicitud de alta como Gestor</option>
                                            <option value="3">Notificación de incidencia en la plataforma</option>
                                            <option value="4">Otros</option>
                                        </select>
                                    </div>
                                    
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="comentarios">Comentarios</label>
                                        <textarea id="comentarios" name="comentarios" class="form-control form-control-lg" th:field="*{comentarios}" rows="4"></textarea>
                                    </div>
                                    
                                    
                                    <span>Acepto las condiciones del servicio:<input type="checkbox" id="acepto"
                                            th:field="*{aceptarCondiciones}"></span><br />


                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Enviar</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
  </form>
</body>

<a th:href="@{/pedido/userLogin}">Volver a lista de pedidos</a>


</html>