<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Rutas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos CSS adicionales */
    .table-responsive {
      margin: 20px 0;
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .btn-circular {
      border-radius: 50%;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25;
    }
    /* Centrar verticalmente el contenido de las celdas */
    .table th, .table td {
      vertical-align: middle !important;
    }

  </style>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Descripción de la ruta</th>
            <th>Masa Total</th>
            <th>Volumen Total</th>
            <th>Detalle de ruta</th>
            
        </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${listaRutas}">
                <td>
                  <table class="residuo-table">
                    <thead>
                        <tr>
                            <th>Nombre del Residuo</th>
                            <th>Masa (Kg)</th>
                            <th>Volumen (m<sup>3</sup>)</th>
                            <th>Dirección</th>
                            <th colspan="2" style="text-align: center" >Acciones disponibles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="r : ${listaResiduos}">
                            <td th:text="${r.nomResiduo}"></td>
                            <td th:text="${r.masaResiduoKg}"></td>
                            <td th:text="${r.volumenResiduoM3}"></td>
                            <td th:text="${r.dirCalleResiduo + ', ' + r.dirNumResiduo + ', ' + r.dirCodPostalResiduo + ' ' + r.dirLocalidadResiduo + ', ' + r.dirProvinciaResiduo}"></td>
                            <td>
                              <a th:href="@{/residuo/recoger/{id}(id=${r.idResiduo})}"
                              style="text-align: center" class="btn btn-success btn-circular">Recoger</a>
                            </td>
                            <td>
                              <a th:href="@{/residuo/rechazar/{id}(id=${r.idResiduo})}" 
                              style="text-align: center" class="btn btn-danger btn-circular">Rechazar</a>
                            </td>
                        
                          
                        </tr>
                    </tbody>
                </table>
                </td>
                <td style="text-align: center" th:text="${r.masaTotal}">masaTotal</td>
                <td style="text-align: center" th:text="${r.volumenTotal}">volumenTotal</td>
              
                
            </tr>
        </tbody>
    </table>
</body>
<footer th:insert="/fragmentos.html::footer">
</footer>  

</html>

</html>
