<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/fragmentos.html::cabecera">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Rutas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos CSS adicionales */
    .table-responsive {
      margin: 20px 0;
    }
    .table-striped tbody tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    .btn-circular {
      border-radius: 50%;
      padding: 0.5rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25;
    }
    /* Centrar verticalmente el contenido de las celdas */
    .table th, .table td {
      vertical-align: middle !important;
    }

  </style>
</head>

<body>
  <nav th:replace="/fragmentos.html::menu"></nav>
  <nav th:replace="/fragmentos.html::menuAdmin"></nav>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Fecha de creación de la ruta</th>
            <th>Descripción de la ruta</th>
            <th>Masa Total</th>
            <th>Volumen Total</th>
            <th>Estado</th>
            <th>Detalle de ruta</th>
            
        </tr>
        </thead>
        <tbody>
            <tr th:each="r : ${listaRutas}">
                <td style="text-align: center" th:text="${r.idRuta}">idRuta</td>
                <td style="text-align: center" th:text="${r.fechaCreacionRuta}">fechaCreacionRuta</td>
                <td style="text-align: center" th:text="${r.descripRuta}">descripRuta</td>
                <td style="text-align: center" th:text="${r.masaTotal}">masaTotal</td>
                <td style="text-align: center" th:text="${r.volumenTotal}">volumenTotal</td>
                <td style="text-align: center">
                  <span th:if="${!r.rutaCreada}" class="badge badge-secondary">Creándose</span>
                  <span th:if="${r.rutaCreada and !r.rutaEnCurso and !r.rutaTerminada}" class="badge badge-warning">Disponible</span>
                  <span th:if="${r.rutaCreada and r.rutaEnCurso and !r.rutaTerminada}" class="badge badge-info">En Curso</span>
                  <span th:if="${r.rutaCreada and r.rutaEnCurso and r.rutaTerminada}" class="badge badge-success">Finalizada</span>
              </td>
              
                <td>
                    <form th:action="@{/ruta/detalleRuta/{id}(id=${r.idRuta})}" method="get">
                        <button type="submit" class="btn btn-primary">Detalle pedido</button>
                    </form>
                </td>
                
            </tr>
        </tbody>
    </table>
</body>
<footer th:insert="/fragmentos.html::footer">
</footer>  

</html>

</html>